@model HRMPj.Models.BonusViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                Bonus
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
@*<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="false">
            <span>Create</span>
        </a>
    </li>*@
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="https://demo.dashboardpack.com/architectui-html-pro/elements-buttons-icons.html#tab-content-0">
            <span>Create</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="position-relative form-group" >
                                <label for="Year" class="">Year</label>
                                <input asp-for="Year" id="Year" placeholder="Enter year" type="text" class="form-control" />
                            </div>
                            <div class="position-relative form-group">
                                <label for="Month" class="">Month</label>
                                <input asp-for="Month" id="Month" placeholder="Enter month" type="text" class="form-control" />
                            </div>
                            <div class="position-relative form-group">
                                <label for="CreatedDate" class="">CreatedDate</label>
                                <input asp-for="CreatedDate" id="CreatedDate" placeholder="Enter date" type="text" class="form-control" />
                            </div>
                            <div class="position-relative form-group">
                                <label for="CreatedBy" class="">CreatedBy</label>
                                <input asp-for="CreatedBy" id="CreatedBy" placeholder="With a placeholder" type="text" class="form-control" />
                            </div>
                            <div class="position-relative form-group">
                                <label for="EmployeeInfoId" class="">EmployeeInfoId</label>
                                <select asp-for="EmployeeInfoId" id="EmployeeInfoId" class="form-control" asp-items="ViewBag.EmployeeInfoId"></select>
                            </div>
                            <div class="position-relative form-group">
                                <label for="BonusTypeId" class="">BonusTypeId</label>
                                <select asp-for="BonusTypeId" id="BonusTypeId" class="form-control" asp-items="ViewBag.BonusTypeId"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                                <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>

       
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
