@model HRMPj.Models.Resign

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                Resign
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="nav-link active">Create</h2>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="position-relative form-group">
                                <label asp-for="ResignDate" class="control-label"></label>
                                <input asp-for="ResignDate" class="form-control" />
                                <span asp-validation-for="ResignDate" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="ResignStatus" class="control-label"></label>
                                <input asp-for="ResignStatus" class="form-control" />
                                <span asp-validation-for="ResignStatus" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="Comment" class="control-label"></label>
                                <textarea asp-for="Comment" class="form-control"  ></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="Remark" class="control-label"></label>
                                <input asp-for="Remark" class="form-control" />
                                <span asp-validation-for="Remark" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="CreatedDate" class="control-label"></label>
                                <input asp-for="CreatedDate" class="form-control" />
                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="ApprovedDate" class="control-label"></label>
                                <input asp-for="ApprovedDate" class="form-control" />
                                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <input asp-for="Status" class="form-control" />
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="Year" class="control-label"></label>
                                <input asp-for="Year" class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                            <div class="position-relative form-group">
                                <label asp-for="EmployeeInfoId" class="control-label"></label>
                                <select asp-for="EmployeeInfoId" class="form-control" asp-items="ViewBag.EmployeeInfoId"></select>
                            </div>
                            <div class="position-relative form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 @section Scripts {
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  }
