@model HRMPj.Models.EmployeeLeaveInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>EmployeeLeaveInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDay" class="control-label"></label>
                <input asp-for="TotalDay" class="form-control" />
                <span asp-validation-for="TotalDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainDay" class="control-label"></label>
                <input asp-for="RemainDay" class="form-control" />
                <span asp-validation-for="RemainDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedId" class="control-label"></label>
                <input asp-for="CreatedId" class="form-control" />
                <span asp-validation-for="CreatedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeInfoId" class="control-label"></label>
                <select asp-for="EmployeeInfoId" class="form-control" asp-items="ViewBag.EmployeeInfoId"></select>
                <span asp-validation-for="EmployeeInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
