@model HRMPj.Models.LeaveRequest

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                LeaveRequest
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
@*<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="false">
            <span>Create</span>
        </a>
    </li>*@
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="https://demo.dashboardpack.com/architectui-html-pro/elements-buttons-icons.html#tab-content-0">
            <span>Create</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Create</h5>
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="position-relative form-group">
                        <label asp-for="CurrentYear" class="">CurrentYear</label>
                        <input asp-for="CurrentYear" id="CurrentYear" placeholder="Enter year"  type="text" class="form-control" />
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="LeaveFromDate" class="">LeaveFromDate</label>
                                <input asp-for="LeaveFromDate" id="LeaveFromDate" placeholder="Enter date" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="LeaveToDate" class="">LeaveToDate</label>
                                <input asp-for="LeaveToDate" id="LeaveToDate" placeholder="Enter date" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="LeaveTotalDay" class="">LeaveTotalDay</label>
                        <input asp-for="LeaveTotalDay" id="LeaveTotalDay" placeholder="Enter day" type="text" class="form-control" />
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="HalfDay" class="">HalfDay</label>
                        <input asp-for="HalfDay" id="HalfDay" placeholder="Enter day" type="text" class="form-control" />
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="HalfStatus" class="">HalfStatus</label>
                        <input asp-for="HalfStatus" id="HalfStatus" placeholder="Enter status" type="text" class="form-control" />
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="Status" class="">Status</label>
                        <input asp-for="Status" id="Status" placeholder="Enter status" type="text" class="form-control" />
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="Description" class="">Description</label>
                        <input asp-for="Description" id="Description" placeholder="Enter description" type="text" class="form-control" />
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="UnPaidLeaveStatus" class="">UnPaidLeaveStatus</label>
                        <input asp-for="UnPaidLeaveStatus" id="UnPaidLeaveStatus" placeholder="Enter status" type="text" class="form-control"  />
                        <span asp-validation-for="UnPaidLeaveStatus" class="text-danger"></span>
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="PayRollStatus" class="">PayRollStatus</label>
                        <input asp-for="PayRollStatus" id="PayRollStatus" placeholder="Enter status" type="text" class="form-control" />
                        <span asp-validation-for="PayRollStatus" class="text-danger"></span>
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="LeaveTypeId" class="">LeaveTypeId</label>
                        <select asp-for="LeaveTypeId" id="LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                        <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

        
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
