@model HRMPj.Models.OverTime

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>OverTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OTDate" class="control-label"></label>
                <input asp-for="OTDate" class="form-control" />
                <span asp-validation-for="OTDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OTStartTime" class="control-label"></label>
                <input asp-for="OTStartTime" class="form-control" />
                <span asp-validation-for="OTStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OTEndTime" class="control-label"></label>
                <input asp-for="OTEndTime" class="form-control" />
                <span asp-validation-for="OTEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedDate" class="control-label"></label>
                <input asp-for="ApprovedDate" class="form-control" />
                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OTTime" class="control-label"></label>
                <input asp-for="OTTime" class="form-control" />
                <span asp-validation-for="OTTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromEmployeeInfoId" class="control-label"></label>
                <select asp-for="FromEmployeeInfoId" class ="form-control" asp-items="ViewBag.FromEmployeeInfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ToEmployeeInfoId" class="control-label"></label>
                <select asp-for="ToEmployeeInfoId" class ="form-control" asp-items="ViewBag.ToEmployeeInfoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
