@model HRMPj.Models.OverTime

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(function () {

        $("#datepicker").datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy"
        });
    });

</script>
<hr />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                OverTime
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
@*<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="false">
            <span>Create</span>
        </a>
    </li>*@
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="https://demo.dashboardpack.com/architectui-html-pro/elements-buttons-icons.html#tab-content-0">
            <span>Create</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="position-relative form-group">
                        <label asp-for="OTDate" class="">OT Date</label>
                        <input asp-for="OTDate" id="datepicker" placeholder="Enter date" type="date" class="form-control" />
                        <span asp-validation-for="OTDate" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="OTStartTime" class="">OT Start Time</label>
                                <input asp-for="OTStartTime" id="OTStartTime" placeholder="Enter time" type="text" class="form-control" />
                                <span asp-validation-for="OTStartTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="OTEndTime" class="">OT End Time</label>
                                <input asp-for="OTEndTime" id="OTEndTime" placeholder="Enter time" type="text" class="form-control" />
                                <span asp-validation-for="OTEndTime" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="Status" class="">Status</label>
                        <textarea asp-for="Status" id="Status" placeholder="Enter status" type="text" class="form-control"></textarea>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    @*<div class="position-relative form-group">
                            <label asp-for="ApprovedDate" class="">ApprovedDate</label>
                            <input asp-for="ApprovedDate" id="ApprovedDate" placeholder="Enter date" type="text" class="form-control" />
                            <span asp-validation-for="ApprovedDate" class="text-danger"></span>
                        </div>*@
                    <div class="position-relative form-group">
                        <label asp-for="OTTime" class="">OT Time(Min)</label>
                        <input asp-for="OTTime" id="OTTime" placeholder="Enter time" type="text" class="form-control" />
                        <span asp-validation-for="OTTime" class="text-danger"></span>
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="Year" class="">Year</label>
                        <input asp-for="Year" id="Year" placeholder="Year" type="text" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="FromEmployeeInfoId" class="">FromEmployeeInfoId</label>
                                <select asp-for="FromEmployeeInfoId" id="FromEmployeeInfoId" class="form-control" asp-items="ViewBag.FromEmployeeInfoId"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="ToEmployeeInfoId" class="">ToEmployeeInfoId</label>
                                <select asp-for="ToEmployeeInfoId" id="ToEmployeeInfoId" class="form-control" asp-items="ViewBag.ToEmployeeInfoId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                        <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

      >

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#OTStartTime,#OTEndTime').on('change', function () {

                var start_time = $('#OTStartTime').val();
                var end_time = $('#OTEndTime').val();
                alert("s = " + start_time + "e = " + end_time);
                if (start_time != "" && end_time != "") {
                    alert("Calculate");
                    var start = start_time;
                    var end = end_time;
                    s = start.split(':');
                    e = end.split(':');
                    min = e[1] - s[1];
                    hour_carry = 0;
                    if (min < 0) {
                        min += 60;
                        hour_carry += 1;
                    }
                    hour = e[0] - s[0] - hour_carry;
                    min += hour * 60;
                    //min = ((min / 60)*100).toString();
                    //diff = hour + ":" + min;
                    diff = min;
                    //var hrs = end.getHours() - start.getHours();
                    //var min = end.getMinutes() - start.getMinutes();
                    

                    //var hour_carry = 0;
                    //var minutes_carry = 0;
                    //if (min < 0) {
                    //    min += 60;
                    //    hour_carry += 1;
                    //}
                    //hrs = hrs - hour_carry;
                    



                    $('#OTTime').val(diff);
                }
                else {
                    $('#OTTime').val("");
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
