@model HRMPj.Models.EmployeeInfoViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                Employee
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
@*<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="false">
            <span>Create</span>
        </a>
    </li>*@
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="https://demo.dashboardpack.com/architectui-html-pro/elements-buttons-icons.html#tab-content-0">
            <span>Create</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Create</h5>
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class=" col-md-6">
                            <div class="form-group">
                                <label asp-for="EmployeeName" class="">EmployeeName</label>
                                <input asp-for="EmployeeName" id="EmployeeName" placeholder="Enter name" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="FatherName" class="">FatherName</label>
                                <input asp-for="FatherName" id="FatherName" placeholder="Enter father name" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label asp-for="Gender" class="">Gender</label>
                        @*<input asp-for="Gender" class="form-control" />*@
                        <input type="radio" asp-for="Gender" value="Male" />Male
                        <input type="radio" asp-for="Gender" value="Female" />Female
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="NRC" class="">NRC</label>
                                <input asp-for="NRC" id="NRC" placeholder="Enter NRC" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="Nationality" class="">Nationality</label>
                                <input asp-for="Nationality" id="Nationality" placeholder="With a placeholder" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="MartialStatus" class="">MartialStatus</label>
                                <input asp-for="MartialStatus" id="MartialStatus" placeholder="With a placeholder" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="DateOfBirth" class="">DateOfBirth</label>
                                <input asp-for="DateOfBirth" id="DateOfBirth" placeholder="Enter date" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label asp-for="MobilePhone" class="">MobilePhone</label>
                                <input asp-for="MobilePhone" id="MobilePhone" placeholder="Enter phone number" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label asp-for="CurrentAddress" class="">CurrentAddress</label>
                                <input asp-for="CurrentAddress" id="CurrentAddress" placeholder="Enter address" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label asp-for="EmergencyNo" class="">EmergencyNo</label>
                                <input asp-for="EmergencyNo" id="EmergencyNo" placeholder="Enter nunmber" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="AccountNo" class="">AccountNo</label>
                                <input asp-for="AccountNo" id="AccountNo" placeholder="Enter acc number" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="ATMNumber" class="">ATMNumber</label>
                                <input asp-for="ATMNumber" id="ATMNumber" placeholder="Enter ATM unmber" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="CreatedDate" class="">CreatedDate</label>
                                <input asp-for="CreatedDate" id="CreatedDate" placeholder="Enter date" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="CreatedBy" class="">CreatedBy</label>
                                <input asp-for="CreatedBy" id="CreatedBy" placeholder="With a placeholder" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="EmployeeProfile" class="">EmployeeProfile</label>
                                <input asp-for="EmployeeProfile" id="EmployeeProfile" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="DocumentProfile" class="">DocumentProfile</label>
                                <input multiple asp-for="DocumentProfile" id="DocumentProfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label asp-for="BranchId" class="">BranchId</label>
                                <select asp-for="BranchId" id="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label asp-for="DepartmentId" class="">DepartmentId</label>
                                <select asp-for="DepartmentId" id="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label asp-for="DesignationId" class="">DesignationId</label>
                                <select asp-for="DesignationId" id="DesignationId" class="form-control" asp-items="ViewBag.DesignationId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                        <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

     

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
