@model HRMPj.Models.PayRoll

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                PayRoll
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
@*<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="false">
            <span>Create</span>
        </a>
    </li>*@
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="https://demo.dashboardpack.com/architectui-html-pro/elements-buttons-icons.html#tab-content-0">
            <span>Create</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Create</h5>
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="PaymentDate" class="">PaymentDate</label>
                                <input asp-for="PaymentDate" id="PaymentDate" placeholder="Enter date" type="text" class="form-control" />
                                <span asp-validation-for="PaymentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="BasicSalary" class="">BasicSalary</label>
                                <input asp-for="BasicSalary" id="BasicSalary" placeholder="Enter salary" type="text" class="form-control" />
                                <span asp-validation-for="BasicSalary" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="OTFee" class="">OTFee</label>
                                <input asp-for="OTFee" id="OTFee" placeholder="With a placeholder" type="text" class="form-control" />
                                <span asp-validation-for="OTFee" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="TotalAllowence" class="">TotalAllowence</label>
                                <input asp-for="TotalAllowence" id="TotalAllowence" placeholder="With a placeholder" type="text" class="form-control" />
                                <span asp-validation-for="TotalAllowence" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="Bonus" class="">Bonus</label>
                                <input asp-for="Bonus" id="Bonus" placeholder="With a placeholder" type="text" class="form-control" />
                                <span asp-validation-for="Bonus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="LoanAmount" class="">LoanAmount</label>
                                <input asp-for="LoanAmount" id="LoanAmount" placeholder="Enter amount" type="text" class="form-control" />
                                <span asp-validation-for="LoanAmount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="LateDebuct" class="">LateDebuct</label>
                                <input asp-for="LateDebuct" id="LateDebuct" placeholder="Enter debuct" type="text" class="form-control" />
                                <span asp-validation-for="LateDebuct" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="PenaltyFee" class="control-label"></label>
                                <input asp-for="PenaltyFee" class="form-control" />
                                <span asp-validation-for="PenaltyFee" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="TaxFee" class="control-label"></label>
                                <input asp-for="TaxFee" class="form-control" />
                                <span asp-validation-for="TaxFee" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="Saving" class="control-label"></label>
                                <input asp-for="Saving" class="form-control" />
                                <span asp-validation-for="Saving" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="NetPay" class="control-label"></label>
                                <input asp-for="NetPay" class="form-control" />
                                <span asp-validation-for="NetPay" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="CreatedDate" class="control-label"></label>
                                <input asp-for="CreatedDate" class="form-control" />
                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="CreatedBy" class="control-label"></label>
                                <input asp-for="CreatedBy" class="form-control" />
                                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="Year" class="control-label"></label>
                                <input asp-for="Year" class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="Month" class="control-label"></label>
                                <input asp-for="Month" class="form-control" />
                                <span asp-validation-for="Month" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="PrintStatus" class="control-label"></label>
                                <input asp-for="PrintStatus" class="form-control" />
                                <span asp-validation-for="PrintStatus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="Claim" class="control-label"></label>
                                <input asp-for="Claim" class="form-control" />
                                <span asp-validation-for="Claim" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label asp-for="EmployeeInfoId" class="control-label"></label>
                                <select asp-for="EmployeeInfoId" class="form-control" asp-items="ViewBag.EmployeeInfoId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                        <a asp-action="Index"  class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
                    </div>
</form>
            </div>
        </div>
    </div>
</div>

      

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
