@model HRMPj.Models.PayRoll

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>PayRoll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OTFee" class="control-label"></label>
                <input asp-for="OTFee" class="form-control" />
                <span asp-validation-for="OTFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAllowence" class="control-label"></label>
                <input asp-for="TotalAllowence" class="form-control" />
                <span asp-validation-for="TotalAllowence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bonus" class="control-label"></label>
                <input asp-for="Bonus" class="form-control" />
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LateDebuct" class="control-label"></label>
                <input asp-for="LateDebuct" class="form-control" />
                <span asp-validation-for="LateDebuct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenaltyFee" class="control-label"></label>
                <input asp-for="PenaltyFee" class="form-control" />
                <span asp-validation-for="PenaltyFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxFee" class="control-label"></label>
                <input asp-for="TaxFee" class="form-control" />
                <span asp-validation-for="TaxFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saving" class="control-label"></label>
                <input asp-for="Saving" class="form-control" />
                <span asp-validation-for="Saving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetPay" class="control-label"></label>
                <input asp-for="NetPay" class="form-control" />
                <span asp-validation-for="NetPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrintStatus" class="control-label"></label>
                <input asp-for="PrintStatus" class="form-control" />
                <span asp-validation-for="PrintStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Claim" class="control-label"></label>
                <input asp-for="Claim" class="form-control" />
                <span asp-validation-for="Claim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeInfoId" class="control-label"></label>
                <select asp-for="EmployeeInfoId" class ="form-control" asp-items="ViewBag.EmployeeInfoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
