@model HRMPj.Models.LeaveType

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                LeaveType
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
@*<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="false">
            <span>Create</span>
        </a>
    </li>*@
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="https://demo.dashboardpack.com/architectui-html-pro/elements-buttons-icons.html#tab-content-0">
            <span>Create</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Create</h5>
                <form asp-action="Create" method="post">
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="position-relative form-group">
                        <label asp-for="TypeName" class="">TypeName</label>
                        <input asp-for="TypeName" id="TypeName" placeholder="Enter name" type="text" class="form-control" />
                        <span asp-validation-for="TypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                         <label asp-for="RunningYear" class="control-label"></label>
                                    <input asp-for="RunningYear" class="form-control" />
                                    <span asp-validation-for="RunningYear" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreatedDate" class="control-label"></label>
                                    <input asp-for="CreatedDate" class="form-control" />
                                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreatedBy" class="control-label"></label>
                                    <input asp-for="CreatedBy" class="form-control" />
                                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ServiceDay" class="control-label"></label>
                                    <input asp-for="ServiceDay" class="form-control" />
                                    <span asp-validation-for="ServiceDay" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                </form>
            </div>
        </div>
     </div>
 </div>
                   
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
